

NET "ALU_MUX" IOSTANDARD = LVCMOS18;
NET "C" IOSTANDARD = MOBILE_DDR;
NET "ALU_EN" IOSTANDARD = HSTL_II;
NET "RAM_RD" IOSTANDARD = LVCMOS18;


NET "RAM_WR" LOC = B4;


NET "RAM_WR" IOSTANDARD = LVCMOS18;


NET "RAM_MUX" LOC = D5;
NET "PC_RESET" LOC = A4;
NET "IR_WR" LOC = A6;
NET "PC_INC" LOC = E7;
NET "FLAG_WR" LOC = C5;


NET "A_WR" IOSTANDARD = HSTL_I;


NET "A_WR" LOC = F6;

# PlanAhead Generated physical constraints 

NET "A_WR" LOC = F7;
NET "OPCODE[0]" LOC = D7;
NET "Z" LOC = C7;
NET "D" LOC = F8;
NET "C" LOC = E8;
NET "ALU_OP[3]" LOC = F9;
NET "ALU_OP[2]" LOC = D11;
NET "ALU_OP[1]" LOC = E9;
NET "ALU_OP[0]" LOC = C11;
NET "PC_LOAD" LOC = F11;
NET "MDR_WR" LOC = E12;
NET "RAM_RD" LOC = A13;
NET "ALU_MUX" LOC = B6;
NET "ALU_EN" LOC = A14;
NET "OPCODE[4]" LOC = E11;
NET "OPCODE[3]" LOC = F12;
NET "OPCODE[2]" LOC = B13;
NET "OPCODE[1]" LOC = B14;
NET "clk" LOC = C9;
NET "RESET" LOC = N17;
